.plats{
    height: 70vh;
    width: 100vw;
    h2{
        font-size: 3rem;
    }
}
// .owl-theme .owl-prev {
//     display: none !important;
// }
// .owl-theme .owl-next {
//    display: none !important;
// }