.plats {
  height: 70vh;
  width: 100vw; }
  .plats h2 {
    font-size: 3rem; }

::-webkit-scrollbar {
  width: 11px; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #911717;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

::-webkit-scrollbar-thumb:window-inactive {
  background: #911717; }

body {
  overflow-x: hidden; }
  body nav {
    z-index: 3; }
  body .navbar-brand .logo {
    height: 60px; }
  body .sepnav {
    color: #CA590F; }
    @media (max-width: 991px) {
      body .sepnav {
        display: none; } }
  body .bg-light {
    background-color: #282828 !important;
    box-shadow: 2px 2px 3px #00000021; }
  body .navbar-dark .navbar-brand {
    color: white; }
  body .navbar-dark .navbar-nav .active > .nav-link, body .navbar-dark .navbar-nav .nav-link.active, body .navbar-dark .navbar-nav .nav-link.show, body .navbar-dark .navbar-nav .show > .nav-link {
    color: white;
    font-family: 'Quando', serif; }
  body .navbar-dark .navbar-nav .nav-link:focus, body .navbar-dark .navbar-nav .nav-link:hover {
    color: white !important; }
  body .navbar-dark .navbar-nav .nav-link {
    color: #CA590F;
    font-family: 'Quando', serif; }
  body .nav-item {
    padding: 0; }
    @media (min-width: 1200px) {
      body .nav-item {
        padding: 0px 20px; } }
    body .nav-item a {
      font-size: 20px; }
    body .nav-item i {
      color: white;
      font-size: 20px; }
  body .boki {
    font-family: 'Quando', serif;
    font-weight: 400; }
  body .i {
    color: #CA590F; }
  body header .para {
    padding: 25vh 10vw;
    z-index: 2; }
    @media (max-width: 575.98px) {
      body header .para {
        padding: 30vh 10vw; } }
    @media (min-width: 576px) and (max-width: 767.98px) {
      body header .para {
        padding: 30vh 10vw; } }
    @media (min-width: 768px) and (max-width: 991.98px) {
      body header .para {
        padding: 30vh 10vw; } }
    @media (min-width: 992px) and (max-width: 1199.98px) {
      body header .para {
        padding: 30vh 10vw; } }
    body header .para .active {
      color: white; }
    body header .para .dot-nav {
      position: absolute;
      top: 85vh; }
      body header .para .dot-nav i {
        color: #cccccc78; }
    body header .para .maison {
      padding-bottom: 7vh; }
    body header .para .btn-danger {
      color: #fff;
      background-color: #911717;
      border-color: #911717; }
      body header .para .btn-danger a {
        text-decoration: none;
        color: inherit; }
  body header h1 {
    color: white;
    font-size: 6rem;
    letter-spacing: 5px;
    font-family: 'Quando', serif;
    letter-spacing: 30px; }
    @media (max-width: 575.98px) {
      body header h1 {
        letter-spacing: 10px;
        font-size: 3rem; } }
  body header h2 {
    color: white;
    font-size: 2rem;
    padding-bottom: 4vh;
    font-family: 'Quando', serif;
    letter-spacing: 5px; }
    @media (max-width: 575.98px) {
      body header h2 {
        font-size: 1rem; } }
  body header h3 {
    padding-bottom: 1vh;
    font-family: 'Quando', serif;
    color: white; }
    @media (max-width: 575.98px) {
      body header h3 {
        max-width: inherit; } }
  body .section-presention .bienvenue h1 {
    padding-bottom: 4vh;
    font-size: 10rem;
    font-family: 'Muli', sans-serif;
    font-weight: bolder;
    color: #464646; }
    @media (max-width: 575.98px) {
      body .section-presention .bienvenue h1 {
        font-size: 3rem; } }
    @media (min-width: 576px) and (max-width: 767.98px) {
      body .section-presention .bienvenue h1 {
        font-size: 5rem; } }
  body .section-presention .bienvenue p {
    font-family: 'Muli', sans-serif;
    font-weight: 200;
    font-size: 1.4rem;
    text-align: justify; }
    @media (max-width: 575.98px) {
      body .section-presention .bienvenue p {
        text-align: left; } }
    @media (min-width: 576px) and (max-width: 767.98px) {
      body .section-presention .bienvenue p {
        text-align: left; } }
  body .section-la-carte {
    background-color: #282828;
    font-family: 'Quando', serif; }
    body .section-la-carte h2 {
      color: #fff;
      font-size: 2.7rem;
      letter-spacing: 5px; }
    body .section-la-carte img {
      padding-left: 1vw;
      height: 50px;
      color: #fff; }
    body .section-la-carte hr.style1 {
      border-top: 2px solid #FFD185;
      width: 60%; }
    body .section-la-carte .carte {
      margin-top: 5vh;
      margin-bottom: 15vh; }
      body .section-la-carte .carte h3 {
        color: #FFD185; }
      body .section-la-carte .carte p {
        color: #fff; }
  body .section-citation {
    font-family: 'Muli', sans-serif;
    color: #464646; }
    body .section-citation h4 {
      font-weight: bolder;
      font-size: 6rem; }
      @media (max-width: 575.98px) {
        body .section-citation h4 {
          font-size: 3rem; } }
      @media (min-width: 576px) and (max-width: 767.98px) {
        body .section-citation h4 {
          font-size: 5rem; } }
    body .section-citation p {
      font-size: 3rem;
      font-weight: 400; }
  body footer {
    padding: 12vh;
    background-color: #282828;
    font-family: 'Muli', sans-serif; }
    body footer img {
      opacity: .3;
      height: 150px !important;
      font-family: 'Quando', serif;
      transition: .3s; }
    body footer h5 {
      color: #fff;
      font-size: 2rem; }
    body footer i {
      font-size: 4rem;
      margin: 0px 20px;
      color: #fff;
      transition: .1s; }
      body footer i:hover {
        color: #CA590F;
        transform: scale(1.05); }
    body footer a {
      text-decoration: none;
      color: #fff; }
      body footer a:hover {
        text-decoration: none;
        color: #CA590F; }
  body .copyright {
    background-color: #202020;
    padding: 3vh;
    color: #5a5a5a; }

/*# sourceMappingURL=style.css.map */
